<!-- Navigation -->
  <nav class="navbar navbar-dark bg-primary static-top">
    <div class="container">

      <a class="navbar-brand" href="{% url 'index.html' %}">Agenda</a>
      <a class="navbar-brand" href="{% url 'dashboard' %}">Dashboard</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>